.box{
	max-width: 7.5rem;
	height: 100%;
	margin: 0 auto;
}
.box2{
	width: 6.9rem;
	height: 100%;
	margin: 0 auto;
	/* border: 1px solid green; */
}
.top{
	height: 1.88rem;
	width: 100%;
	background-image:linear-gradient(to right,#84e26a,#0ce3a8) ;
}
.topm{
	height: 1.88rem;
	width: 100%;
	display: flex;
	position: relative;
	
}
.top-p{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
	line-height: 0.95rem;
	width: 6.18rem;
}
.top-l{
	width: 0.21rem;
	height: 0.36rem;
	padding-top: 0.35rem;
}
.top-f{
	position: absolute;
	display: flex;
	width: 100%;
	height: 1.26rem;
	border-radius: 0.1rem;
	background-color: white;
	box-shadow: 0 0 0.36rem #ebebeb;
	bottom: -0.6rem;
}
.topf-img1{
	width: 0.64rem;
	height: 0.64rem;
	padding-top: 0.25rem;
	padding-left: 0.3rem;
}
.fp1{
	font-size: 0.28rem;
	color: #212121;
	line-height: 0.46rem;
	padding-top: 0.2rem;
	padding-left: 0.15rem;
}
.fp2{
	font-size: 0.22rem;
	color: #999;
	padding-left: 0.2rem;
}
.topf-img2{
	width: 0.21rem;
	height: 0.36rem;
	padding-top: 0.4rem;
	margin-left: 3rem;
}